@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

/* nav bar */

nav {
    width: 100%;
    height: 150px;
    background-color: rgb(47, 72, 88, 0.8);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 10;
}

#logo {
    color:#82af21;
    font-size: 3.5em;
    letter-spacing: 2px;    
    font-family: 'Anton', sans-serif;    
}

nav span {
    color: #fff;
    font-family: 'Anton', sans-serif;
}

.contact-button {
    background-color: #82af21;
    color: #fff;    
    padding: 30px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 1.7em;
}

#contact-us {
    display: none;
}

.contact-button:hover {
    transform: scale(1.2);
}

nav ul {
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

nav ul li {
    display: inline-block;  
}

nav ul li a{
    position: relative;
    color: #fff;
    font-size: 1.7em;
    line-height: 80px;
    padding: 40px;
    letter-spacing: 2px;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    color: #82af21;
    background-color: rgba(255, 255, 255, 0.7);
}

.active {
    background-color: rgb(130, 175, 33, 0.4);
}

#menu-open, #menu-close {
    font-size: 28px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* main page - hero image and cover text */

.hero-image {
    height: 100vh;
    width: 100%;
    background: url('../images/Hero33.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    color:#2f4858; 
}

#cover-text h2 {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
}

#cover-text h3 {
    font-family: 'dancing script', sans-serif;
}

/* main page - about section */

.about {
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: justify;
}

.flexbox-about {
    width: 33%;
    margin: 5px;
}

.center-about {
    order: 1;
    width: 20%;
    text-align: center;
}

.right-about {
    order: 1;
}

.center-about h2 {
    color: #2f4858;
    font-size: 3.5em;
}

.center-about h3, .left-about h3, .right-about h3 {
    font-family: 'dancing script', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #82af21;
    padding: 10px
}

.about p {
    font-size: 1.5em;
    color:#2f4858;
    padding: 15px;
}

/* home page - services section */

.serivces {
    background: linear-gradient(258deg, #82af21ad 0%, #34a14fb7 16%, #008e6daf 33%, #007779b0 50%, #005e71ad 66%, #2f485871 83%, #00ffd979 100%);
    width: 100%;
    padding: 50px;
    height: 100vh;
}

.services-title h2 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 4px;
}

.services-title h3 {
    font-family: Lato;
    font-size: 1em;
    padding-bottom: 20px;
    color: #fff;
}

.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card {
    height: 600px;
    width: 450px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    background: #fff;
    position: relative;
}

.services-card i {
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
    color: #82af21;
}

.services-card i:hover {
    color: #2f4858;
}

.services-card h5 {
    color: #82af21;
    font-size: 2.5em;
    margin-bottom: 50px;
    font-family: 'dancing script', sans-serif;
}

.services-text p {
    padding-bottom: 40px;
    color: #2f4858;
    font-size: 1em;
}

.services-card .button {
    background-color: #82af21;
    color: #fff;    
    padding: 10px 30px;
    border-radius: 50px;
}

.services-card .button:hover {
    background-color: #2f4858;
}

/* Page Break */

.pagebreak {
    height: 100px;
    width: 100%;
    background-color: #fff;
}

/*home page - contact us section*/

.contact-us-container {
    width: 100%;
    height: 290px;
    background: url('../images/Hero22.jpg') no-repeat center fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-us-button {
    width: 30%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'dancing script', sans-serif;
    font-size: 3.0em;
    background-color: rgb(47, 72, 88,0.9);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
}

.contact-us-button:hover {
    color: #2f4858;
    background-color: rgba(255, 255, 255,0.9);
    border: 2px solid #2f4858;
}

/* home page - gallery section */

#gallery {
    width: 100%;
    padding: 70px 0;
    background: #fff;
    height: 1000px;
}

.gallery-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.gallery-image {
    flex-basis: 25%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative; 
}

.gallery-image h3, a {
    color: #fff;
    font-weight: normal;
}

.gallery-image a {
    cursor: pointer;
    background-color: rgb(130, 175, 33,0.9);
    padding: 4px;
    border-radius: 20px;
}

.gallery-image a:hover {
    background-color: #fff;
    color: #82af21;
    border: 2px solid #82af21;
}

.gallery-image img {
    width: 100%;
    padding: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#2f4858);
    opacity: 0;
    transition: 1s;
}

.gallery-image:hover .overlay {
    opacity: 1;
}

.gallery-title {
    text-align: center;
    color: #2f4858; 
}

.gallery-title h2 {
    font-size: 5em;
    word-spacing: 4px;
}

.gallery-title h3 {
    font-family: 'lato', sans-serif;
    font-size: 2em;
    padding-bottom: 20px;
    
}

.gallery-title h4 {
    font-family: 'dancing script', sans-serif;
    font-size: 36px;
    word-spacing: 4px;
    color: #82af21; 
    padding-bottom: 40px;
}

.gallery-text {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.hr0 {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.gallery-text p {
    font-size: 14px;
}

.gallery-image:hover .gallery-text {
    bottom: 40%;
    opacity: 1;
}

/* home page - client section */

.clients {
    margin-top: 50px;
}

.clients-title h2 {
    text-align: center;
    font-family: 'dancing script', sans-serif;
    color: #82af21;
    font-size: 3em;
}

.client-logos-container {
    text-align: center;
    border-radius: 7px;
    margin: 20px;
    color: #fff;
}

.client-logos {
    width: 80px;
    height: 60px;
    border-radius: 7px;
    margin: 10px 20px;
}


/* footer section */

.footer {
    background-color: #2f4858;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left, .footer-center, .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-left {
    width: 33%;
    text-align: left;
}

.footer-left i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-left i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-left p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-left p span {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.footer-left p a {
    color: #82af21;
    text-decoration: none;
}

/* Footer center */

.footer-center {
    width: 33%;
    text-align: center;
}

.footer h3 {
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-size: 2em;
}


.footer h3 span {
    color: #82af21;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
}

/* Footer links */

.footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #fff;
}

.footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer Right */

.footer-right {
    width: 33%;
    text-align: right;
}

.footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    margin: 0;
}

.footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #82af21;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons a:hover {
    background-color: #fff;
    color: #82af21;
}

.footer-links a:hover {
    color: #82af21;
}

.footer-company-about p {
    color: #fff;
    font-size: 14px;
}

/* Services Page */

.services-section {
    padding: 2%;   
    margin-top: 150px;
} 

.services-title {
    font-size: 2em;
    color: #82af21;
    text-align: center;
}

.photography {
    background: url('../images/Hero55.jpg') no-repeat left;
    background-size: 49%;
    background-color: #fff;
    overflow: hidden;
    padding: 175px 0;
}

.photography-section {
    width: 55%;
    float: right;
    background-color: rgb(246, 246, 246,0.5);
    padding: 8%;
}

.floorplan {
    background: url('../images/Floorplan.jpg') no-repeat right;
    background-size: 49%;
    background-color: #fff;
    overflow: hidden;
    padding: 175px 0;
    
}

.floorplan-section {
    width: 55%;
    float: left;
    background-color: rgb(246, 246, 246,0.5);
    padding: 8%;
    
}

.epc {
    background: url('../images/epc1.jpg') no-repeat left;
    background-size: 49%;
    background-color: #fff;
    overflow: hidden;
    padding: 175px 0;
}

.epc-section {
    width: 55%;
    float: right;
    background-color: rgb(246, 246, 246,0.5);
    padding: 8%;
}

.hr1 {
    background: #82af21;
    height: 1px;    
    border: 0;
    width: 100%;
}

.services-section h2 {
    text-align: center;
    font-family: 'dancing script',sans-serif;
    font-size: 50px;
    color: #82af21;
    padding-bottom: 40px;
}

.services-section .text {
    text-align: justify;
    font-size: 1em;
    color: #2f4858;
}

button {
    text-align: center;
    font-family: 'lato',sans-serif;
    background-color: #82af21;
    padding: 10px;
    font-size: 28px;
    border-radius: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.gallery-button {
    padding-top: 55px;
    text-align: center;
}

button:hover {
    background-color: rgb(47, 72, 88);
    color: #fff;
}


/* Gallery Page */

.gallerypage {
    width: 100%;
    padding: 50px 0;
    background: #fff;
}

.gallerypage-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: auto;
    justify-content: center;
}

.gallerypage-image {
    flex-basis: 45%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
}

.gallerypage-image img {
    width: 90%;
    border-radius: 7px;
    padding: 2px;
}

.gallerypage-image:hover {
    transform: scale(1.1);
}

.gallerypage-title {
    text-align: center;
}

.gallerypage-title h1 {
    font-size: 4em;
    word-spacing: 4px;
    color: #2f4858; 
    margin-top: 150px;
}

.gallerypage-title h3 {
    font-family: 'dancing script',sans-serif;
    font-size: 1.5em;
    word-spacing: 4px;
    color: #82af21; 
    padding-bottom: 80px;
}

.gallerypage-text {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.gallerypage-text p {
    font-size: 14px;
}

.gallerypage-image:hover .gallerypage-text {
    bottom: 40%;
    opacity: 1;
}

.gallerypage-title p {
    text-align: center;
    font-size: 2.5em;
    font-family: Lato;
    color: #82af21;
    scroll-margin: 150px;
}


/* Contact Us Page */

.contactUs {
    position: relative;
    width: 100%;
    padding: 0 100px;
    background: url('../images/Hero11.jpg') no-repeat center;
    height: 1200px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    font-size: 1.5em;
    margin-top: 200px;
    color: #2f4858;
    background-color: rgb(255, 255, 255,0.8);
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: rgb(255, 255, 255,0.8);
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.contactus-box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #2f4858;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */

.formbox {
    position: relative;
    width: 100%;
}

.formbox .row50 {
    display: flex;
    gap: 20px;

}

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputbox {
    width: 100%
}

.inputbox h4 {
    color: #2f4858;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: lato;
}

.inputbox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    font-family: Lato;
}

.inputbox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    font-family: 'lato',sans-serif;
}

.inputbox input[type="submit"]{
    background: #82af21;
    color: rgb(255, 255, 255,0.8);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    cursor: pointer;
    padding: 14px 15px;

}

/* Info Box */

.info {
    background: rgb(255, 255, 255,0.8);
}

.info h3 {
    text-align: center;
    color: #2f4858;
}



.info .infobox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infobox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background-color: #2f4858;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-radius: 50%;
    margin-right: 15px;

}

.info .infobox div p {
    color: #2f4858;
    font-size: 1.1em;
}

.info .infobox div a {
    color: #2f4858;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;

}

.sci li {
    list-style-type: none;
    margin-right: 15px;

}

.sci li a {
    color: #2f4858;
    font-size: 2em;

}

.sci li a:hover {
    color: #82af21;
}

.map {
    padding: 0;

}

.map iframe {
    width: 100%;
    height: 100%;
}




/* Media Query */

@media screen and (max-width: 1350px) {
    
    #logo {
        font-size: 2.0em;
    }
    
    .contact-button {
        font-weight: 400;
        padding: 10px;
        font-size: 1.2em;
     }
        
    nav ul li a{
        font-size: 1em;
        padding: 15px;
    }

    /* home page - about section */

    .about {
        height: 1200px;
        box-sizing: border-box;  
        display: flex;
        flex-direction: column-reverse;
        padding: 5%;
    }

    .flexbox-about {
        width: 100%; 
    }

    .right-about {
        order: -1;
    }
     
    .about h2 {
        font-size: 2.5em;
    }
    .center-about h3,.left-about h3,.right-about h3 {
        font-size: 1.8em;

    }

    .center-about h3 {
        padding: 0;
    }
    
    .about p {
        font-size: 1em;
        color:#2f4858;
    }    

    /* home page - services section */

    .services-box {
        box-sizing: border-box;  
        display: flex;
        flex-direction: column;

    }
    .services-card {
        height: 400px;
        width: 70%;
    }
    .services-title h2 {
        color: #fff;
        font-size: 1.5em;

    }
    .serivces {
        height: 1800px;

    }
    .services-card i {
        font-size: 3em;
        margin:0;
    }

    /* home page - gallery section */

    .gallery-box {
        justify-content: center;
    }

    .gallery-image {
        flex-basis: 45%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
        position: relative; 
    }
        /* footer section */

    .footer {
        position: static;
    }
     .footer, .footer-left, .footer-center, .footer-right {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-center {
        order: -1;
    }

    .footer-left {
        padding-right: 70px ;
    }


        /* services page */

    .services-title {
        font-size: 40px;
    }

    .photography {
        background-size: 100%;
        padding: 100px 0;
    }
        
    .floorplan {
        background-size: 100%;
        padding: 100px 0;
    }
    
    .epc {
        background-size: 100%;
        padding: 100px 0;
    }
    
    .epc-section, .floorplan-section, .photography-section {
        width: 100%;
        padding: 4%;
        background-color: rgb(246, 246, 246,0.9);
    }

    /* gallery page */

    .gallerypage-box {
        width: 90%;     
    }
    
    .gallerypage-image {
        flex-basis: 49%;
    }

    /* contact us page */

    .contactus-box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .contactUs {
        padding: 0;
    }
    
    .map {
        min-height: 300px;
    }
    
    .formbox .row50 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    .inputbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }

    .contactUs {
        height: 1800px;
    }

    /* home page - client */

    .client-logos {
        width: 60px;
        height: 50px;
        border-radius: 7px;
        margin: 10px;
    }


}


@media screen and (max-width: 800px) {
    
    /* nav bar */

    #logo {
        font-size: 2em;
        padding-left: 30px;
    }

    #menu-open {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(47, 72, 88, 0.9);
        top: 150px;
        left: -100%;
        text-align: center;   
        transition: all .5s;    
    }

    #check:checked ~ ul  {
        left: 0;
    }

    #check:checked ~ label #menu-open {
        display: none;
    }

    #check:checked ~ label #menu-close {
        display: block;
    }

    nav {
        justify-content: space-between; 
    }

    nav ul li {
        display: block;
    }

    nav ul li a{
        display: block;
        font-size: 1em;
    }

    .contact-button {
        display: none;
    }

    #contact-us {
        display: block;
    }

    /* home page - cover text*/

    #cover-text h2 {
        font-family: 'lato', sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    
    #cover-text h3 {
        font-family: 'dancing script', sans-serif;
        font-size: 1rem;
    }

    #cover-text {
        width: 90%;
        height: 50px;
        padding: 5px;
    }

    /* home page - services section */

    .services-card {
        height: 460px;
        width: 90%;
    }

    .services-title h2 {
        color: #fff;
        font-size: 1.5em;
    
    }

    .serivces {
        height: 1800px;
        margin: 0;
        padding: 0;
    }

    .services-card i {
        font-size: 2em;
    }

    /* home page - contact us */
    
    .contact-us-container {
        background: url('../images/Twilight1.jpg') no-repeat fixed;
        background-position: left;
    }

    .contact-us-button {
        font-size: 2em;
        width: 90%;
    }
    
    /* home page - gallery section */

    #gallery {
        height: 1300px;
    }
    
    .gallery-box {
        justify-items: center;
    }
    
    .gallery-image {
        flex-basis: 90%;
        border-radius: 7px;
        max-height: 320px;
        max-width: 320px;
        display: block;
        margin: auto;
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 7px;
        background: linear-gradient(rgba(0,0,0,0.3),rgb(47, 72, 88,0.3));
        opacity: 1;
        transition: 1s;
    }

    .gallery-text {
        width: 100%;
        height: 60%;
        opacity: 1;
        font-size: 0.5em;
    }

    .gallery-text h3 {
        padding-bottom: 10px;
    }

    .hr0 {
        display: none;
    }

    /* home page - clients section */

    .client-logos {
        margin: 1px;
    }

    /* gallery page */ 

    .gallerypage-image {
        flex-basis: 90%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
        margin: auto;
    }

    .gallerypage-box {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        margin: auto;
    }
    
    .gallerypage-image {
        flex-basis: 100%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
    }
    
    .gallerypage-image img {
        width: 90%;
        border-radius: 7px;
        padding: 2px;
        
    }

    /* footer */ 

    .footer {
        padding: 50px 0;
    }
}