@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

/* nav bar */

nav {
    width: 100%;
    height: 150px;
    background-color: rgb(47, 72, 88, 0.8);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 10;
}

#logo {
    color:#82af21;
    font-size: 3.5em;
    letter-spacing: 2px;    
    font-family: 'Anton', sans-serif;    
}

nav span {
    color: #fff;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    text-align: left;
}

.contact-button {
    background-color: #82af21;
    color: #fff;    
    border: 2px solid transparent;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 50px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Lato;
}

#contact-us {
    display: none;
}

.contact-button:hover {
    transform: scale(1.2);
}

nav ul {
    justify-content: center;
    padding-left: 5% ;
    padding-right: 5%;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;   
}

nav ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    line-height: 80px;
    padding: 40px;
    letter-spacing: 2px;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    color: #82af21;
    background-color: rgba(255, 255, 255, 0.7);
}

.active {
    background-color: rgb(130, 175, 33, 0.4);
}

#menu-open, #menu-close {
    font-size: 28px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* main page - hero image and cover text */

.hero-image {
    height: 100vh;
    width: 100%;
    margin-top: -150px;
    background-image: url('../images/Hero33.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    width: 50%;
    height: 100px;
    position: absolute;
}

#cover-text2 {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    color:#2f4858;
    font-family: lato;   
}

#cover-text2 h2 {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
}

#cover-text2 h3 {
    font-family: Dancing Script, sans-serif;
    font-size: 2rem;
}

/* main page - about section */

.about {
    width: 100%;
    height: 100vh;
    padding-top: 35vh ;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
}

.flexbox-about {
    width: 33%;
    margin: 5px;
    text-align: justify;
    
    
}

.center-about {
    order: 1;
    width: 20%;
}

.right-about {
    order: 1;
}


.center-about h2 {
    text-align: center;
    color: rgb(47, 72, 88);
    font-size: 3.5em;
    font-family: 'poppins', sans-serif;
    letter-spacing: 2px;
    padding: 10px;
}

.center-about h3,.left-about h3,.right-about h3 {
    font-family: Dancing Script, sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #82af21;
    padding: 10px
}

.about p {
    font-family: 'poppins';
    font-size: 1.5em;
    color:#2f4858;
    font-weight: 400;
    padding: 15px;
}

.left-about {
    text-align: justify; 
}

.right-about p {
    text-align: justify;
}



/* Media Query */

@media screen and (max-width: 1200px) {
    
    #logo {
        font-size: 2.5em;
    }
    
    .contact-button {
        font-weight: 400;
        padding: 10px;
        font-size: 1.2em;
     }
        
    nav ul li a{
        font-size: 1em;
        padding: 15px;
    }
}

@media screen and (max-width: 750px) {
    
    /* nav bar */

    #logo {
        font-size: 1.5;
    }

    #menu-open {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(47, 72, 88, 0.9);
        top: 150px;
        left: -100%;
        text-align: center;   
        transition: all .5s;     
    }

    #check:checked ~ ul  {
        left: 0;
    }

    #check:checked ~ label #menu-open {
        display: none;
    }

    #check:checked ~ label #menu-close {
        display: block;
    }

    nav ul li {
        display: block;
    }

    nav ul li a{
        display: block;
        font-size: 1em;
    }

    .contact-button {
        display: none;
    }

    #contact-us {
        display: block;
    }

    /* home page - cover text and hero image*/

    .hero-image {
        height: 100vh;
        margin-top: 0;
    }

    #cover-text h2 {
        font-family: Lato, sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    
    #cover-text h3 {
        font-family: Dancing Script, sans-serif;
        font-size: 1rem;
    }

    #cover-text {
        width: 100%;
        height: 50px;
    }

    #cover-text2 {
        padding: 5px;
    }

    /* home page - about section */

    .about {
        height: 1200px;
        box-sizing: border-box;  
        display: flex;
        flex-direction: column-reverse;
        padding: 5%;
    }

    .flexbox-about {
        width: 100%; 
    }

    .right-about {
        order: -1;
    }
     
    .about h2 {
        font-size: 2.5em;
    }
    .center-about h3,.left-about h3,.right-about h3 {
        font-size: 1.8em;

    }

    .center-about h3 {
        padding: 0;
    }
    
    .about p {
        font-family: 'poppins';
        font-size: 1em;
        color:#2f4858;
    }
}